<div class="grid-x">
    <div class="cell small-12 medium-6">
        <h3 class="h5">Hymne à la Douleur <small>28/03/2019</small></h3>
    </div>
    <div class="cell small-12 medium-6">
        <audio controls
            src="{{root}}assets/audio/alphonse-de-lamartine-harmonies-poetiques-et-religieuses-hymne-a-la-douleur.mp3"
            type="audio/mp3">
                <a href="{{root}}assets/audio/alphonse-de-lamartine-harmonies-poetiques-et-religieuses-hymne-a-la-douleur.mp3">Télécharger</a>
        </audio>
    </div>
</div>
