body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lobster', cursive;
}

.is-active {
    background-color: $primary-color;
    color: $white;
}

.theater {
    font-size: 90%;
    margin-left: 1em;
}

.indent {
    margin-left: 2em;
}
