<div class="grid-x grid-padding-x align-center">
    <div class="cell small-12">
        <h1 class="text-center h2">Goab, le désert des Couleurs <small>02/05/2019</small></h1>
    </div>
    <div class="cell small-12">
        <p class="text-justify">Enregistrement du chapitre 14 de L'Histoire sans fin de Michael Ende traduit de l'allemand par Dominique Autrand</p>
    </div>
    <div class="cell small-12">
        <div class="responsive-embed">
            <iframe width="1200" height="628" src="https://www.youtube.com/embed/3XUJIo_5Cuw" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
