<div class="grid-x grid-padding-x align-center">
    <div class="cell">
        <h1 class="text-center">Les Confidences Oubliées </h1>
        <h3 class="text-center h5">Alexis Bulik <small>Blog</small></h3>
    </div>
    <div class="cell">
        <nav>
            <ul>
                Articles :
                <li><a href="{{root}}les-confidences-oubliees/rise-and-shine.html">Rise & Shine, la danse et son langage</a></li>
                <li><a href="{{root}}les-confidences-oubliees/livres/janvier-2019.html">Encore des livres, janvier 2019</a></li>
                <li><a href="{{root}}les-confidences-oubliees/la-fiction-va-plus-loin-que-le-reel.html">La ficttion va plus loin que le réel</a></li>
                <li><a href="{{root}}les-confidences-oubliees/livres/annee-2018.html">20 Livres qui m'ont fait grandir en 2018</a></li>
                <li><a href="{{root}}les-confidences-oubliees/forgeron.html">C'est en forgeant que l'on devient forgeron</a></li>
                <li><a href="{{root}}les-confidences-oubliees/robots.html">Les nouveaux outils</a></li>
            </ul>
        </nav>
    </div>
</div>
