<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- General meta data -->
<meta property="og:type" content="blog">
<meta property="og:url" content="www.alexisbulik.fr/{{root}}{{page}}.html">
<meta property="og:description" content="{{description}}">
<meta property="og:title" content="{{title}}">
<meta property="og:image" content="{{root}}{{image}}" />

<!-- twitter meta data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@AlexisBulik">
<meta name="twitter:creator" content="@AlexisBulik">

<!-- pinterest meta verification -->
<meta name="p:domain_verify" content="6b0a140eab82819656fa9ae4c4421bfd"/>
