<div class="callout">
  <div class="grid-x grid-padding-x align-center">
    <div class="cell auto">
      <a target="_blank" class="button" href="https://twitter.com/AlexisBulik" data-tooltip class="top" tabindex="2" title="Twitter">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <div class="cell auto">
      <a target="_blank" class="button" href="https://www.pinterest.fr/alexisbulik/" data-tooltip class="top" tabindex="2" title="Pinterest">
        <i class="fab fa-pinterest-p"></i>
      </a>
    </div>
    <div class="cell auto">
      <a target="_blank" class="button" href="https://www.instagram.com/alexisbulik/" data-tooltip class="top" tabindex="2" title="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <div class="cell auto">
      <a target="_blank" class="button" href="https://www.youtube.com/channel/UCuWghXJ4O34GiUx73SOlPlg" data-tooltip class="top" tabindex="2" title="Youtube">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
    <div class="cell auto">
      <a target="_blank" class="button" href="https://github.com/alexis-bulik/likstrat" data-tooltip class="top" tabindex="2" title="Github">
        <i class="fab fa-github-alt"></i>
      </a>
    </div>
    <div class="cell auto">
      <a target="_blank" class="button" href="mailto:alexisbulik@gmail.com" data-tooltip class="top" tabindex="2" title="E-mail">
        <i class="far fa-envelope"></i>
      </a>
    </div>
    <div class="cell auto">
      <a target="_blank" class="button" href="http://m.me/254116542179841" data-tooltip class="top" tabindex="2" title="Messenger">
        <i class="fab fa-facebook-messenger"></i>
      </a>
    </div>
  </div>
</div>
