<div class="fb-video" data-href="https://www.facebook.com/254116542179841/videos/287599612132397/" data-show-text="false"><blockquote cite="https://developers.facebook.com/254116542179841/videos/287599612132397/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/254116542179841/videos/287599612132397/">L&#039;Œil, dans Poèmes et Poésies, de Léon Dierx</a><p>Sous l&#039;épais treillis des feuilles tremblantes,
Au plus noir du bois la lune descend ;
Et des troncs moussus aux cimes des plantes,
Son regard fluide et phosphorescent
Fait trembler aux bords des corolles closes
           Les larmes des choses.
…</p>Posted by <a href="https://www.facebook.com/Les-Confidences-Oubli&#xe9;es-254116542179841/">Les Confidences Oubliées</a> on Monday, April 1, 2019</blockquote></div>
