<div class="fb-video" data-href="https://www.facebook.com/254116542179841/videos/2111957602244737/" data-show-text="false"><blockquote cite="https://developers.facebook.com/254116542179841/videos/2111957602244737/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/254116542179841/videos/2111957602244737/">Impéria, dans Les Lèvres closes, de Léon Dierx</a><p>Sur le divan, pareille à la noire panthère
Qui se caresse aux feux du soleil tropical,
Dans un fauve rayon enveloppant le bal,
Elle emplit de parfums le boudoir solitaire.
Elle rêve affaissée au milieu des coussins ;
Et sa narine s&#039;enfle, et se gonflent ses seins
Au rythme langoureux de la valse lointaine.
…</p>Posted by <a href="https://www.facebook.com/Les-Confidences-Oubli&#xe9;es-254116542179841/">Les Confidences Oubliées</a> on Wednesday, April 3, 2019</blockquote></div>
