<div class="fb-video" data-href="https://www.facebook.com/254116542179841/videos/567604443749876/" data-show-text="false"><blockquote cite="https://developers.facebook.com/254116542179841/videos/567604443749876/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/254116542179841/videos/567604443749876/">Silence, dans Philoméla, de Catulle Mendès</a><p>Tu ne parleras pas, ô mon âme inquiète !
Rien ne révélera ton mal intérieur :
Pas de sanglots humains dans le chant du poëte.

D’autres accepteront ce rôle inférieur ;
À défaut de vertu j’ai la pudeur des larmes
Et veux grincer des dents sous un masque rieur.
…</p>Posted by <a href="https://www.facebook.com/Les-Confidences-Oubli&#xe9;es-254116542179841/">Les Confidences Oubliées</a> on Monday, April 1, 2019</blockquote></div>
