<div class="fb-video" data-href="https://www.facebook.com/254116542179841/videos/584058072078530/" data-show-text="false"><blockquote cite="https://developers.facebook.com/254116542179841/videos/584058072078530/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/254116542179841/videos/584058072078530/">Hymne à la Douleur, dans Harmonies poétiques et religieuses, de Alphonse de Lamartine</a><p>Frappe encore, ô Douleur, si tu trouves la place !
Frappe ! ce cœur saignant t’abhorre et te rend grâce,
Puissance qui ne sais plaindre ni pardonner !
Quoique mes yeux n’aient plus de pleurs à te donner,
Il est peut-être en moi quelque fibre sonore
Qui peut sous ton regard se torturer encore,
Comme un serpent coupé, sur le chemin gisant,
Dont le tronçon se tord sous le pied du passant,
Quand l’homme, ranimant une rage assouvie,
Cherche encor la douleur où ne bat plus la vie !
…

http://alexisbulik.fr/les-confidences-oubliees/audio/alphonse-de-lamartine-harmonies-poetiques-et-religieuses-hymne-a-la-douleur.html</p>Posted by <a href="https://www.facebook.com/Les-Confidences-Oubli&#xe9;es-254116542179841/">Les Confidences Oubliées</a> on Thursday, March 28, 2019</blockquote></div>
