<div class="fb-video" data-href="https://www.facebook.com/254116542179841/videos/677802292634893/" data-show-text="false"><blockquote cite="https://developers.facebook.com/254116542179841/videos/677802292634893/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/254116542179841/videos/677802292634893/">Le Matin, dans Philoméla, de Catulle Mendès</a><p>La tenture s’est décrochée
Et l’on voit au fond du boudoir
Une femme, tête penchée
Sur un coussin de satin noir.

Elle agite un lambeau fantasque,
Écharpe folle de houri ;
À ses pieds un tambour de basque
S’endort près d’un bouquet flétri.

…

http://alexisbulik.fr/les-confidences-oubliees/audio/catulle-mendes-philomela-le-matin.html</p>Posted by <a href="https://www.facebook.com/Les-Confidences-Oubli&#xe9;es-254116542179841/">Les Confidences Oubliées</a> on Sunday, March 31, 2019</blockquote></div>
