<div class="fb-video" data-href="https://www.facebook.com/254116542179841/videos/1985599154900869/" data-show-text="false"><blockquote cite="https://developers.facebook.com/254116542179841/videos/1985599154900869/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/254116542179841/videos/1985599154900869/">La Providence à l&#039;homme, dans Méditations Poétiques, de Alphonse de Lamartine</a><p>Quoi ! le fils du néant a maudit l’existence !
Quoi ! tu peux m’accuser de mes propres bienfaits !
Tu peux fermer tes yeux à la magnificence
Des dons que je t’ai faits !

Tu n’étois pas encor, créature insensée,
Déjà de ton bonheur j’enfantois le dessein ;
Déjà, comme son fruit, l’éternelle pensée
Te portoit dans son sein.
…

À écouter sur : http://alexisbulik.fr/les-confidences-oubliees/audio/alphonse-de-lamartine-meditations-poetiques-la-providence-a-l-homme.html</p>Posted by <a href="https://www.facebook.com/Les-Confidences-Oubli&#xe9;es-254116542179841/">Les Confidences Oubliées</a> on Tuesday, March 26, 2019</blockquote></div>
