<div class="fb-video" data-href="https://www.facebook.com/254116542179841/videos/385953002223764/" data-show-text="false"><blockquote cite="https://developers.facebook.com/254116542179841/videos/385953002223764/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/254116542179841/videos/385953002223764/">Premier Orage, dans L&#039;Âme nue, de Edmond Haraucourt</a><p>Et le soleil croula, tout rouge, dans la mer.
L’eau houlait, morne et sombre, au large. Un souffle amer
Siffla sur les rochers et convulsa les plantes,
Long, chaud, lourd, et dans des ondulations lentes,
Vint mourir sur le front des coteaux et des bois.
…

Retrouvez la version audio à l&#039;adresse :
http://alexisbulik.fr/les-confidences-oubliees/audio/edmond-haraucourt-l-ame-nue-premier-orage.html</p>Posted by <a href="https://www.facebook.com/Les-Confidences-Oubli&#xe9;es-254116542179841/">Les Confidences Oubliées</a> on Sunday, March 24, 2019</blockquote></div>
