<div class="fb-video" data-href="https://www.facebook.com/254116542179841/videos/281902169401780/" data-show-text="false"><blockquote cite="https://developers.facebook.com/254116542179841/videos/281902169401780/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/254116542179841/videos/281902169401780/">Le Souper Des Armures, dans Émaux et Camées, de Théophile Gautier</a><p>Biorn, étrange cénobite,
Sur le plateau d’un roc pelé,
Hors du temps et du monde, habite
La tour d’un burg démantelé.

De sa porte l’esprit moderne
En vain soulève le marteau :
Biorn verrouille sa poterne
Et barricade son château.
…

Écoutez la version audio sur :
alexisbulik.fr/les-confidences-oubliees/audio/theophile-gautier-emaux-et-camees-le-souper-des-armures.html</p>Posted by <a href="https://www.facebook.com/Les-Confidences-Oubli&#xe9;es-254116542179841/">Les Confidences Oubliées</a> on Friday, March 22, 2019</blockquote></div>
