<div class="fb-video" data-href="https://www.facebook.com/254116542179841/videos/839966923039727/" data-show-text="false"><blockquote cite="https://developers.facebook.com/254116542179841/videos/839966923039727/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/254116542179841/videos/839966923039727/">Empédocle, de Louis Ménard</a><p>Au sommet de l’Etna, debout près du cratère,
Comme Héraclès devant le bûcher de l’Oeta,
Embrassant du regard l’Océan et la terre,
Empédocle adora la nature et chanta :

Miroir de l’Infini, flots de la mer divine,
Gouffre inviolé, grand horizon bleu !
Lampes du ciel profond dont la nuit s’illumine,
Peuples de l’espace, étoiles de Dieu !
…</p>Posted by <a href="https://www.facebook.com/Les-Confidences-Oubli&#xe9;es-254116542179841/">Les Confidences Oubliées</a> on Sunday, April 7, 2019</blockquote></div>
