<div
    class="fb-video"
    data-href="https://www.facebook.com/254116542179841/videos/1277466599074078/"
    data-show-text="false"
>
    <blockquote
        cite="https://developers.facebook.com/254116542179841/videos/1277466599074078/"
        class="fb-xfbml-parse-ignore"
    >
        <a href="https://developers.facebook.com/254116542179841/videos/1277466599074078/">
            Printemps d&#039;Avril, dans Améthystes, de Théodore de Banville
        </a>
        <p>Ma mie, à son toit fidèle,
La frétillante hirondelle
Revient du lointain exil.
Déjà le long des rivages
S’égaie un sylphe subtil,
Qui baise les fleurs sauvages :
Voici le printemps d’Avril !
…

http://alexisbulik.fr/les-confidences-oubliees/audio/theodore-de-banville-amethystes-printemps-d-avril.html
        </p>
        Posted by <a href="https://www.facebook.com/Les-Confidences-Oubli&#xe9;es-254116542179841/">Les Confidences Oubliées</a> on Saturday, March 30, 2019
    </blockquote>
</div>
