<div class="fb-video" data-href="https://www.facebook.com/254116542179841/videos/569810406834795/" data-show-text="false"><blockquote cite="https://developers.facebook.com/254116542179841/videos/569810406834795/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/254116542179841/videos/569810406834795/">Impuissance, dans La Légende Des Sexes, de Le Sire De Chambley (Edmond Haraucourt)</a><p>Non, tu ne m’auras pas, malgré mon désir fou!
Tes baisers affamés peuvent pomper mes lèvres,
Et, courant par troupeaux de mes reins à mon cou,
Sur mon torse fiévreux brouter comme des chèvres,

En vain tes doigts de fée en rut, tes doigts nerveux
Dansent sur le sommeil de mes chairs résignées,
Et pour me rajeunir glissent sur mes cheveux,
Peuple souple et taquin de roses araignées.
…

Écouter la version audio sur :
http://alexisbulik.fr/les-confidences-oubliees/audio/le-sire-de-chambley-la-legende-des-sexes-impuissance.html</p>Posted by <a href="https://www.facebook.com/Les-Confidences-Oubli&#xe9;es-254116542179841/">Les Confidences Oubliées</a> on Saturday, March 23, 2019</blockquote></div>
