<div class="fb-video" data-href="https://www.facebook.com/254116542179841/videos/267775694167786/" data-show-text="false"><blockquote cite="https://developers.facebook.com/254116542179841/videos/267775694167786/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/254116542179841/videos/267775694167786/">Les Bijoux, dans Les Fleurs du Mal, de Charles Baudelaire</a><p>La très-chère était nue, et, connaissant mon cœur,
Elle n’avait gardé que ses bijoux sonores,
Dont le riche attirail lui donnait l’air vainqueur
Qu’ont dans leurs jours heureux les esclaves des Maures.
…

À écouter sur :
http://alexisbulik.fr/les-confidences-oubliees/audio/charles-baudelaire-les-fleurs-du-mal-les-bijoux.html</p>Posted by <a href="https://www.facebook.com/Les-Confidences-Oubli&#xe9;es-254116542179841/">Les Confidences Oubliées</a> on Monday, March 25, 2019</blockquote></div>
