<div class="fb-video" data-href="https://www.facebook.com/254116542179841/videos/400145280784665/" data-show-text="false"><blockquote cite="https://developers.facebook.com/254116542179841/videos/400145280784665/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/254116542179841/videos/400145280784665/">La Voix, dans Les Fleurs Du Mal, de Charles Baudelaire</a><p>Mon berceau s’adossait à la bibliothèque,
Babel sombre, où roman, science, fabliau,
Tout, la cendre latine et la poussière grecque,
Se mêlaient. J’étais haut comme un in-folio.
Deux voix me parlaient. L’une, insidieuse et ferme,
Disait : « La Terre est un gâteau plein de douceur ;
Je puis (et ton plaisir serait alors sans terme !)
Te faire un appétit d’une égale grosseur. »
Et l’autre : « Viens ! oh ! viens voyager dans les rêves,
Au delà du possible, au delà du connu ! »
Et celle-là chantait comme le vent des grèves,
Fantôme vagissant, on ne sait d’où venu,
Qui caresse l’oreille et cependant l’effraie.
…

Écoutez plus de poésies sur alexisbulik.fr</p>Posted by <a href="https://www.facebook.com/Les-Confidences-Oubli&#xe9;es-254116542179841/">Les Confidences Oubliées</a> on Tuesday, March 26, 2019</blockquote></div>
